*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,blue,red);
    padding: 10px;

}
.container h6{
    width: 100%;
    font-size: small;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    color: white
}

.todo-app{
    width: 100%;
    max-width: 500px;
    background:white;
    margin:100px  auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;

}


.todo-app h2{
    color: rgba(204, 3, 3, 0.911);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 25px;
    margin-left: 15px;

}
.todo-app h2 img{
    width: 50px;
    margin-left: 30%;
    border: 2px solid ;
    justify-content: space-between;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: wheat;
    border-radius: 50px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: orange;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;


    
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image:url(images/checked.png);



}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: bolder;
    color: black;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
    background: #edeef0;
}
