*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    @media  (300px<= width <=600px){

        
    }
    
}
body{
    background: linear-gradient(135deg,gray,black)
}
.head{
    text-align: center;
    margin-top: 10%;
    padding-bottom: 10px;
}
.card{
    width: 90%;
    max-width: 450px;
    background: linear-gradient(100deg,green,cyan);
    color: white;
    margin: 100px auto ;
    border-radius: 30px;
    padding:40px 35px;
    text-align: center;
    padding-top: 10px;
    
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.search input{
    border: 0;
    outline: 0;
    background: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    flex: .8;
    margin-right: 16px;

}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    cursor: pointer;
    height: 60px;
    width: 60px;

}

.search button img{
    width: 20px;

}
.weather-icon{
    width: 170px;
    margin-top:30px;
}
.weather h2{
    font-size:45px;
    font-weight: 300;
    margin-top: -10px;
    
}
.details{
    display: flex;
    align-items: center;
    padding: 0 0px;
    margin-top: 50px;
    
    

}
.col{
    display: flex;
    align-items: center;
    text-align: left;

}
.col img{
    width:50px;
    margin-right: 10px;


}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 14px;
    font-size: 14px;
    display: none;
}